html {
    font-family: sans-serif;
  }
  
  /* Your CSS below here */

body p {
      width:    200px;
      height:   50px;
      position: absolute;
      border:   2mm solid rgb(255, 0, 221) ;
  }

