* {
    box-sizing: border-box;
  }
  
  html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
    background: #ccc;
  }
  
  article {
    width: 210mm;
    height: 297mm;
    margin: 20px auto;
    position: relative;
  }
  
  address {
    position: absolute;
    bottom: 8mm;
    right: 20mm;
  }
  
  h1 {
    position: absolute;
    top: 12mm;
    left: 20mm;
    width: 128px;
    height: 128px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding: 44px 0;
    color: white;
    text-shadow: 1px 1px 1px black;
  }
  
  /* Your CSS below here */

  /*top image*/
  .img-gradient1 {
    position:absolute;
  }
  .img-gradient1::after {
    content: '';
    position: absolute;
    top: 0;
    left:0%;
    width: 100%; height: 140%;
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0));
  }

  /*bottom image*/
  .img-gradient2 img{
    position:absolute;
    bottom: 0;
  }
  .img-gradient2::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%; height:20%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.3));
  }

  /*full page settings*/
  article{
    background-color: rgb(255, 255, 255);
    width: 800px;
  }

  /*top and bottom borders*/
  .img-gradient1 img{
    border-top: 1mm solid hotpink;
  }
  .img-gradient2 img{
    border-bottom: 1mm solid hotpink;
  }

  /*logo*/
  h1{
      background-image: url("logo.png");
      filter: drop-shadow(10px 10px 4px #000000);
  }